[submodule "js/PacMan-js"]
	path = js/PacMan-js
	url = https://github.com/anzarsh/PacMan-js
[submodule "js/phoneNoteBook"]
	path = js/phoneNoteBook
	url = https://github.com/anzarsh/phoneNoteBook.git
[submodule "vuejs/--name"]
	path = vuejs/--name
	url = https://github.com/anzarsh/table-vuejs
